@model Candy

<body>
<h3>@Model.Name Information</h3>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>WalmartPrice</th>
        <th>Manufacturer</th>
        <th>Ingredients</th>       
    </tr>
    <tr>
        <td>@Model.Dbid</td>
        <td>@Model.Name</td>        <td>@Model.WalmartPrice</td>
        <td>@Model.Manufacturer</td>
        <td>@Model.Ingredients</td>        
    </tr>

</table>
 <br />
 <br />
 <br />
 <br />
<div style="display: block"> 
   
        <a href="/Candy/UpdateCandy/@Model.Dbid">
            <button class="btn btn-light">Update this CandyBar</button></a>     
</div>

<br />

<div style="display: block">    
    @using (Html.BeginForm("DeleteCandy", "Candy", "Post"))
    {
        <input type="hidden" asp-for="Dbid" value="@Model.Dbid" />
        <input class="btn btn-light" type="submit" onclick="return confirm('Are you sure?')" value="Delete this CandyBar" />
    }    
</div>
</body>


